@import '../../styleGuide/styleGuide.scss';

.buttonComponent {
  @include h6;

  width: 100%;
  padding: 1rem 2rem;

  background: map-get($colors, white);
  border: 1px solid map-get($colors, black);
  border-radius: 10px;

  transition: 0.15s ease-out;

  @media (min-width: 768px) {
    @include h5;
    width: auto;
  }

  @media (min-width: 992px) {
    @include h4;
    flex-Direction: row-reverse;
  }

  @media (min-width: 1400px) {
    @include h2;
  }

  &:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
    
  }

  &:active {
    transform: scale(0.95, 0.95)
  }
}
